<template>
  <div class="prettyprint-div post-margin-bottom">
    <pre class="prettyprint">{{text}}</pre>
  </div>
</template>
<script>
export default {
  props: ["text"],
};
</script>
<style lang="scss">
.prettyprint-div {
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 0px;
}
</style>