<template>
    <div>
        <h1 v-if="level === 1" class="text-6xl subpixel-antialiased mb-6">{{text}}</h1>
        <h2 v-if="level === 2" class="text-5xl subpixel-antialiased mb-5">{{text}}</h2>
        <h3 v-if="level === 3" class="text-4xl subpixel-antialiased mb-4">{{text}}</h3>
        <h4 v-if="level === 4" class="text-3xl subpixel-antialiased mb-3">{{text}}</h4>
        <h5 v-if="level === 5" class="text-2xl subpixel-antialiased mb-2">{{text}}</h5>
        <h6 v-if="level === 6" class="text-1xl subpixel-antialiased mb-1">{{text}}</h6>
    </div>
</template>
<script>
export default {
    props:["text","level"]
}
</script>