<template>
  <!--<v-img class="white--text align-end post-margin-bottom" :src="imagesrc"></v-img>-->
  <div class="flex justify-content-center">
    <div style="width: 100%">
      <img :src="imagesrc" class="white--text align-end post-margin-bottom" />
    </div>

    <div>{{ caption }}</div>
  </div>
</template>

<script>
export default {
  props: ["imagesrc", "caption"],
};
</script>
<style lang="scss">
</style>