<template>
    <div class="post-margin-bottom">
        <ol class="list-decimal">
            <li v-for="(item, index) in items" :key="index">{{item}}</li>
        </ol>        
    </div>
</template>
<script>
export default {
    props:["items"]
}
</script>