<template>
  <p v-html="text" class="leading-relaxed rexcode-paragraph post-margin-bottom"></p>
</template>

<script>
export default {
  props: ["text"],
};
</script>
<style lang="scss">
.rexcode-paragraph {
  line-height: 36px;
}
</style>