<template>
    <blockquote class="blockquote text-right post-margin-bottom">
    <p class="mb-0 italic">{{text}}</p>
    <footer class="blockquote-footer" >{{caption}}</footer>
    </blockquote>    
</template>
<script>
export default {
    props:["text","caption"]
}
</script>
