<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="m-4">
    <div id="app">
        <div>
            {{hello}}
        </div>
        <div>
            <table class="min-w-full table-auto">
                <thead class="justify-between">
                    <tr class="bg-gray-800">
                        <th class="px-16 py-2">
                            <span class="text-gray-300"></span>
                        </th>
                        <th class="px-16 py-2">
                            <span class="text-gray-300">Name</span>
                        </th>
                        <th class="px-16 py-2">
                            <span class="text-gray-300">Invitation</span>
                        </th>
                        <th class="px-16 py-2">
                            <span class="text-gray-300">Date</span>
                        </th>


                        <th class="px-16 py-2">
                            <span class="text-gray-300">Status</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    <tr class="bg-white border-4 border-gray-200" v-for="item in items">
                        <td class="px-16 py-2 flex flex-row items-center">
                            <img class="h-8 w-8 rounded-full object-cover " :src="item.photo" alt="" />
                        </td>
                        <td>
                            <span class="text-center ml-2 font-semibold">{{item.name}}</span>
                        </td>
                        <td class="px-16 py-2">
                            <button
                                class="bg-indigo-500 text-white px-4 py-2 border rounded-md hover:bg-white hover:border-indigo-500 hover:text-black ">
                                Open Link
                            </button>
                        </td>
                        <td class="px-16 py-2">
                            <span>{{item.Birthdate}}</span>
                        </td>

                        <td class="px-16 py-2">
                            <span class="text-green-500" v-if="item.hasChildren">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h5 " viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js'></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css' />
<script>
    var app = new Vue({
        el: '#app',
        data: {
            hello: '',
            items: []
        },
        created() {
            this.hello = 'Vue for example';

            self = this;
            axios.get('./news.json')
                .then(function (response) {
                    self.items = response.data.Actors;
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
        }
    });
</script>

</html>